img.cat{
  width: 100%;
  height: auto;
}

div.catphotos {
  width: 2000px;
  height: 2000px;
  border: 20px black;


}

/* 구현하고 싶은 것
1. 사진들을 누르면 고양이들이 meow!하고 울기  (울음소리들 다르면 재밌을 듯  
2. 고양이 사진들뿐 아니라 메뉴를 만들어서 개 사진, 햄스터 사진..등 귀여운 사진들을 볼 수 있으면 좋겠음. 
3. 웃긴 밈들도 여기에 추가하면 좋겠다. 이것도 메뉴에 넣어서.. 
4. */